name: Build Docker Image
on:
# Triggers the workflow on push request events but only for the devops branch

  push:
    branches:
      - devops
env:
  testPath: test
jobs:
# This workflow contains multiple jobs
 Build:
  name: BuildApp
# The type of runner that the job will run on
  #runs-on: ubuntu-latest
  runs-on: windows-latest
  steps:
  # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
   - name: Checkout Repository
     uses: actions/checkout@v3
       
   - name: Setup .Net core
     uses: actions/setup-dotnet@v3
     with:
       dotnet-version: '8.0'

   - name: Test
     run: |    
       dotnet tool install --global coverlet.console
       dotnet test $testPath /p:CollectCoverage=true /p:CoverletOutputFormat=opencover


   - name: sonar scan
     run: |    
       dotnet tool install --global coverlet.console
       dotnet tool install --global dotnet-sonarscanner   
       dotnet sonarscanner begin /k:"S-gallaxy_hello-world" /o:"s-gallaxy" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.token=${{ secrets.SONAR_TOKEN }} /d:sonar.cs.opencover.reportsPaths="/coverage.opencover.xml"     
       dotnet build --configuration Release
       dotnet test $testPath /p:CollectCoverage=true /p:CoverletOutputFormat=opencover 
       dotnet sonarscanner end /d:sonar.token=${{ secrets.SONAR_TOKEN }}

       
