name: Overall code coverage

on:
  workflow_dispatch:


jobs:
 Overall-code-coverage:
  name: Overall code coverage
# The type of runner that the job will run on
  runs-on: ubuntu-latest    
  steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup .Net core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'
