name: Scheduled jobs
on:
  # push:
  #   branches: devops
  schedule:
    - cron:  '45 18 * * *'
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:        
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Use secret
        run: |
          aws --version
          kubectl version --client
